<header>
  <div id="header">
    <h2 class="heading">HOTEL MASTER</h2>
    <h4 class="sub-heading">HOTEL MANGEMENT THEME</h4>
  <ul id="menu">
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">PAGES</a></li>
      <li><a href="#">ROOMS</a></li>
      <li><a href="#">RESERVATION</a></li>
      <li><a href="#">FEATURES</a></li>
      <li><a href="#">BLOG</a></li>
      <li><a href="#">SHORTCODES</a></li>
    </ul>
   </ul>
 </div>
</header>

<main>
 <div id="main">
<h4 class="heading-1">WELCOME TO</h4>
<h1 class="heading-2">HOTEL MASTER</h1>
 </div>
</main>
